html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #bfe3fe;
    font-family: 'Merriweather', serif;
    font-weight:100;
}

.leaflet-container {
  background-color: #bfe3fe;
}

article {
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
    max-width: 1200px;
    min-width: 768px;
    /*width: 1200px;*/
}



header {
    z-index: 1500;
    position: relative;
    background-color: rgba(0, 0, 0, .7);

    padding-top: 1px;

    color: white;
    clear: both;
    height: 900px;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

header .side {
  width: 30%;
  /*width: 360px;*/
  height: 100%;
  background-color: rgba(175, 17, 28, .8);
  float: left;
  text-align: center;
  position: relative;
}

header .rest {
  width: 70%;
  float: left;
  /*text-align: center;*/
}

.rest nav {
  /*display: block;*/
  text-align: center;
  margin: 0;
  padding: 3em 3em 0 3em;
}

.rest nav ol {
  list-style: none;
  display: block;
  border-bottom: 2px solid white;
  margin: 0;
  padding: 0;
}

.rest nav ol li {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 0;
  padding: .6em 0 .6em 0;
  cursor: pointer;
}

li.selected {
  background-color: rgba(175, 17, 28, .8);
}

.rest > div {
  padding: 2em 3em;
  text-align: left;
  display: none;
}

.rest > div.selected {
  display: block;
}


/*.rest .text {
  margin: 5.3em 5em 1em 5em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}*/

/*.text p {
    width: 20em;
    margin: 2em auto 2em auto;
}*/

/*.text .legend {
  width: 20em;
  margin: 2em auto 2em auto;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
}*/

/*.legend div.deadly {
  margin: 0 auto .5em auto;
  width: 2em;
  height: .7em;
  border: 1px solid white;
  background-color: #b00101;
}

.legend div.nondeadly {
  margin: 1em auto .5em auto;
  width: 2em;
  height: .7em;
  border: 1px solid white;
  background-color: green;
}*/

.side h2 {
  font-weight: 300;
  font-size: 18px;
  margin: 3em 0 .5em 0;
}

.side h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-size: 42px;
  margin: 0 1em;
  padding: .5em;
  line-height: 1.5em;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.side p {
  font-weight: 300;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

.side img.cutout {
  position: absolute;
  width: 400px;
  width: 400px;
  left: 0;
  bottom: 0;
}

.side .down {
  position: absolute;
  /*outline: 1px solid yellow;*/
  width: 64px;
  width: 64px;
  left: 50%;
  bottom: 0;
}

.side .down img {
  position: absolute;
  /*outline: 1px solid green;*/
  width: 64px;
  width: 64px;
  left: -32px;
  bottom: -32px;
  /*z-index: 9999;*/
}

/*.scrollUp {
  position: fixed;
  text-align: center;
  background-color: rgb(175, 17, 28);
  color: white;
  padding-top: .1em;
}

.scrollUp div {
  width: 64px;
  width: 64px;
  left: 50%;
  bottom: 0;
  position: absolute;
}

.scrollUp img {
  position: absolute;
  width: 64px;
  width: 64px;
  left: -41px;
  bottom: -32px;
}

.scrollUp h4 {
  font-weight: 300;
  font-size: 14px;
  margin: .5em 0 .5em 0;
}

.scrollUp h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-size: 18px;
  margin: 0 1em;
  padding: .5em;
  line-height: 1.5em;
  border-top: 2px solid white;
}*/

figure {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

section {
    z-index: 1500;
    position: relative;
}

footer {
    z-index: 1500;
    position: relative;
    background-color: rgba(0, 0, 0, .7);
    height: 300px;

    padding: .1em 0 .2em 0;

    color: white;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

footer a {
  color: white;
}

footer .map {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 0px;
  font-size: 14px;
  width: 100%;
}

.footer small {
    font-size: 10px;
}

.fside {
  width: 30%;
  /*width: 360px;*/
  height: 100%;
  float: left;
  text-align: center;
  position: relative;
  padding: 0;
}

.fside h4 {
  font-weight: 300;
  font-size: 16px;
  margin: 3em 0 .5em 0;
}

.fside h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 0 1em;
  padding: .5em;
  line-height: 1.5em;
  border-top: 2px solid white;
}

.aj {
  position: absolute;
  top: 27px;
  left: 30%;
  /*outline: 1px solid yellow;*/
  width: 200px;
}

.aj .logo {
  position: absolute;
  left: 64px;
  top: 5px;
}

.aj .f, .aj .t {
  position: absolute;
  top: 40px;
}

.aj .f {
  left: 16px;
}

.aj .t {
  left: 52px;
}




.frest {
  position: absolute;
  top: 0;
  left: 50%;
  /*outline: 1px solid yellow;*/
  width: 50%;
  text-align: center;
}

.frest > div {
  float: left;
  width: 40%;
}

.frest > div + .frest > div {
  margin-left: 20px;
}

.frest h4 {
  font-weight: 800;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 50px;
  margin-bottom: 0px;
}

.frest h4 span {
  font-family: 'Merriweather', serif;
  font-size: 12;
  font-weight: 300;
  display: block;
  font-size: 16px;
  border-bottom: 2px solid white;
  padding-bottom: .5em;
  margin-bottom: .5em;
}



#timeline {
    z-index: 1400;
    width: 30%;
    background-color: rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

#timeline > div {
    width: 100%;
    clear:both;

}

#timeline h6 {
    font-size: 32px;
    margin: 3em .5em;
    background-color: rgba(255, 255, 255, .8);
    border-top: 2px solid #af111c;
    text-align: center;
}

#timeline time {
  display: block;
  color: rgba(0, 0, 0, .8);
  /*border-top: 1px solid #af111c;*/
  padding-top: .2em;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: .5em;
  text-align: center;
}

#timeline > div > div {
  text-align: center;
  margin-left: .5em;
  margin-right: .5em;
}

.sameMonth-true {
  /*color: transparent;*/
}

.sameDate-true {
  display: none !important;
}

.attack > div  {
  background-color: rgba(175, 17, 28, .8);
  color: white;
}

.event > div  {
  /*background-color: rgba(255, 255, 255, .8);*/
  background-color: rgba(0, 0, 0, .8);
  /*color: black;*/
  color: white;
}

.displ > div  {
  background-color: rgba(255, 255, 255, .8);
  color: red;
}

.sc {
  font-variant: small-caps;
}


.highlight {
  /*background-color: lightyellow;*/
  outline: 8px solid gold;
}

.pace-running footer {
  display: none;
}

.pace-running .side p {
  display: none;
}

.pace-running .side h1 {
  display: none;
}

.pace-running .side h2 {
  display: none;
}

.pace-running .rest .text {
  display: none;
}

.pace-running .rest img {
  display: none;
}

.pace-running .down {
  display: none;
}

.pace-running nav {
  display: none;
}



.pace-done {
}


.zombie {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 9999;
    padding: 0.2em;
    background: #FFDC00;
    color: black;
    font-size: 10px;
}

.zombie a {
    color: black;
}
