<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Boko Haram’s Bloody Legacy< - Al Jazeera</title>
        <meta property="og:title" content="Boko Haram’s Bloody Legacy"/>
        <meta property="og:description" content="For the last years, Boko Haram has left a bloody trail in Nigeria and neighbouring countries."/>
        <meta property="title" content="Boko Haram’s Bloody Legacy"/>
        <meta property="description" content="For the last years, Boko Haram has left a bloody trail in Nigeria and neighbouring countries."/>
        <meta property="og:type" content="article"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@AJEnglish"/>
        <meta property="twitter:title" content="Boko Haram’s Bloody Legacy"/>
        <meta property="twitter:description" content="For the last years, Boko Haram has left a bloody trail in Nigeria and neighbouring countries."/>
        <meta property="image" content="http://interactive.aljazeera.com/aje/2014/BokoHaramTimeline/outside.png"/>
        <meta property="twitter:image:src" content="http://interactive.aljazeera.com/aje/2014/BokoHaramTimeline/outside.jpg"/>
        <meta property="og:image" content="http://interactive.aljazeera.com/aje/2014/BokoHaramTimeline/outside.jpg"/>
        <link rel="canonical" href="http://interactive.aljazeera.com/aje/2014/BokoHaramTimeline/index.html" />
        <meta name="image" content="http://interactive.aljazeera.com/aje/2014/BokoHaramTimeline/outside.jpg">
        <meta name="title" content="Boko Haram’s Bloody Legacy" >
        <meta name="description" content="For the last years, Boko Haram has left a bloody trail in Nigeria and neighbouring countries.">
        <link rel="apple-touch-icon" href="apple-touch-icon.jpg">
        <link rel="shortcut icon" href="favicon.ico"/>


        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css">

        <link href='//fonts.googleapis.com/css?family=Merriweather:400,300,700|Merriweather+Sans:800italic,800' rel='stylesheet' type='text/css'>

        <link href="bower_components/pace/themes/red/pace-theme-flat-top.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main2.css">

        <script src="bower_components/console-polyfill/index.js"></script>
        <script src="bower_components/pace/pace.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="zombie">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

       <figure id="map"></figure>

       <article>
            <header>
              <div class="side">
                  <h2 class="chapeau"></h2>
                  <h1 class="title"></h1>

                  <img class="cutout" src="img/boko.png">
                  <p>Scroll for the timeline</p>
                  <div class="down"><img src="img/d.png"></div>
              </div>

              <div class="rest">
                <nav>
                  <ol>
                    <li id="head-text-t1h" class="selected"></li>
                    <li id="head-text-t2h"></li>
                  </ol>
                </nav>
                <div id="head-text-t1" class="selected">
                </div>
                <div id="head-text-t2">
                </div>
<!--                 <div class="text">
                  <div id="head-text">
                  </div>
                  <div class="legend">
                    <div class="deadly"></div>
                    Deadly incident
                    <div class="nondeadly"></div>
                    Non-deadly incident
                  </div>
                </div> -->

                <!-- <img src="img/ajlogo.png"> -->
              </div>
            </header>


            <section id="timeline">

<!--               <div class="scrollUp">
                <h4 class="chapeau"></h4>
                <h3 class="title"></h3>
                <div><img class="up" src="img/u.png"></div>
              </div> -->
            </section>

            <footer>

                <div class="fside">
                  <h4 class="chapeau">Foo</h6>
                  <h3 class="title">Bar Baz</h5>
                </div>

                <div class="aj">
                  <img class="logo" src="img/ajlogo.png">
                  <a class="f" target="_new" href="https://www.facebook.com/aljazeera"><img class="f" src="img/f.png"></a>
                  <a class="t" target="_new" href="https://twitter.com/AJEnglish"><img class="t" src="img/t.png"></a>
                </div>

                <div class="frest">
                  <div>
                    <h4>
                      <span>Words | Research</span>
                      Philippa Stewart
                    </h4>
                    <a class="t1" target="_new" href="https://twitter.com/Flip_Stewart"><img class="t" src="img/t.png"></a>
                  </div>

                  <div>
                    <h4>
                      <span>Implementation</span>
                      Laurian Gridinoc
                    </h4>
                    <a class="t2" target="_new" href="https://twitter.com/gridinoc"><img class="t" src="img/t.png"></a>
                  </div>
                </div>

                <!-- <p id="footer-text"></p> -->

                <!-- <p>© 2014, Al Jazeera. Written and produced by <a href="https://twitter.com/Flip_Stewart">Philippa Stewart</a> and <a href="https://twitter.com/gridinoc">Laurian Gridinoc</a>.</p> -->

                <div class="map">
                  <p id="footer-text"></p>
                  <p><small>Map <span></span></small></p>
                </div>
            </footer>
        </article>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.3.5/tabletop.js"></script>
        <!-- // <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
        <script src="//d3js.org/queue.v1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
        <script src="//cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.1.2/leaflet-omnivore.min.js'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

		    <!-- <script>JSCLASS_PATH = 'js/JS.Class-4.0.5/src'</script> -->
		    <!-- // <script src="js/JS.Class-4.0.5/src/loader-browser.js"></script> -->

        <script src="bower_components/leaflet-providers/leaflet-providers.js"></script>

        <script src="js/main2.js"></script>


        <script id="attack" type="text/html">
          <div id="<%= id %>" class="attack">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time class="sameDate-<%= sameDate %>"><span class="sameMonth-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div>
              <span>
                <span class="sc">attack</span>
                <small>
                <br>
                <%= location %>
                <% if (injured || killed) { %>
                <br>
                <% } %>
                <% if (injured) { %>
                <%= injured %> injured
                <% } %>
                <% if (killed) { %>
                <% if (injured) { %>,<% } %>
                <%= killed %> killed
                <% } %>
                <br>&nbsp;<br>
                </small>
                <%= description %>
              </span>
            </div>
          </div>
        </script>

        <script id="event" type="text/html">
          <div id="<%= id %>" class="event">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time class="sameDate-<%= sameDate %>"><span class="sameMonth-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div><span><span class="sc">info</span><br><%= description %></span></div>
          </div>
        </script>

        <script id="displ" type="text/html">
          <div id="<%= id %>" class="displ">
            <% if (year) { %><h6><%= year %></h6><% } %>
            <time class="sameDate-<%= sameDate %>"><span class="sameMonth-<%= sameMonth %>"><%= month %></span> <%= day %></time>
            <div>
              <span>
                <span class="sc"><%= dType %> displacement</span>
                <small>
                <br>
                <span class="sc">from </span>
                <br>
                <%= fromfuzzy %>
                <% if (tofuzzy) { %>
                <br>
                <span class="sc">to </span>
                <br>
                <%= tofuzzy %>
                <% } %>
                <br>
                <% if (description) { %>
                <span class="sc">due to</span><br>
                <% } %>
                </small>
                <%= description %>
              </span>
            </div>
          </div>
        </script>
        <!--Chartbeat AJE header -->
               <script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>
               <!--GOOGLE ANALYTICS AJE -->
               <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-1615344-7', {'allowAnchor': true});
                ga('send', 'pageview', {
                'page': location.pathname + location.search  + location.hash
               });
               </script>
               <!--CHARTBEAT AJE -->
               <script type='text/javascript'>
                   var _sf_async_config={};
                   /** CONFIGURATION START **/
                   _sf_async_config.uid = 3291;
                   _sf_async_config.domain = 'aljazeera.com';
                   _sf_async_config.useCanonical = true;
                   _sf_async_config.sections = 'AJ Labs';
                   _sf_async_config.authors = 'AJ Labs';
                   _sf_async_config.title = "Boko Haram: No end in sight";
                   /** CONFIGURATION END **/
                   (function(){
                     function loadChartbeat() {
                       window._sf_endpt=(new Date()).getTime();
                       var e = document.createElement('script');
                       e.setAttribute('language', 'javascript');
                       e.setAttribute('type', 'text/javascript');
                       e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
                       document.body.appendChild(e);
                     }
                     var oldonload = window.onload;
                     window.onload = (typeof window.onload != 'function') ?
                        loadChartbeat : function() { oldonload(); loadChartbeat(); };
                   })();
                           $( document ).ready(function() {
                             $(".CT").addClass("dem");
                           });
               </script>


    </body>
</html>
